/* p {
    display: none;
} */


/* p,
span {
    display: none;
} */




/* div {
    opacity: 1;   /* here it means the element will be showing 100% clear

}

div {
    opacity: 0.550;
    /* here it means the element will be showing 55% clear

}

div {
    opacity: 0.33;
    /* here it means the element will be showing 33% clear

} */



/* .open {
    padding: 10px;
    background-color: #DDD;
    border: 1px solid #676767;
    width: 600px;
    margin: 20px auto 0;
}

.box {
    padding: 10px;
    background-color: #DDD;
    border: 1px solid #676767;
    width: 600px;
    margin: auto;

} */

/* 

button {
    margin: 10px;
}


span {
}
 */



/* div {
    width: 300px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: -300px;
    height: 200px;
}


span {
    color: red;
    font-weight: bold;
    display: none;
} */





/* 
div {
    width: 300px;
    background-color: #000;
    color: #fff;
    padding: 10px;

} */



/* 
div {
    background: #ddd;
    width: 400px;
    padding: 10px;
    height: 300px;
} */


/* 
input[type="text"] {
    width: 600px;
    padding: 10px;
} */


/* .custom {
    background-color: red;
    color: white;
    width: 300px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.br {
    border-radius: 20px;
}


.alakel {
    color: green;
} */



/* .test {
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    background-color: #eee;
}


.border {
    border:4px solid #f00;
    background-color: #333;
    color: #fff;
} */


/* p {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 300px;
} */
/* 

.dim {
    width: 200px;
    background-color: #ddd;
} */

/* .container {
    width: 800px;
    background-color: #ddd;
    margin: auto;
    overflow: hidden;
}

.container .left {
    float: left;
    width: 490px;
    margin-right: 10px;
    background-color: #000;
    color: white;
}

.container .right {
    float: right;
    width: 300px;
    background-color: #000;
    color: white;
} */



/* .cont {
    width: 300px;
    background-color: #a7a2a2;
    height: 100px;
    padding: 20px;
    border: 10px solid #00f;
    margin: 20px;
} */



/* traversing  parent, parents, preantsUntil*/
/* section {
    border: 1px solid #ccc;
    width: 400px;
    padding: 10px;
}

section .top {
    border: 1px solid #ccc;
    padding: 10px;
}


section .top p {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

section .top p span {
    border: 1px solid #ccc;

} */







/* Traversing Part 2  */
/* 
section, div, p, span {
    padding: 10px;
    border: 1px solid #ccc;

}


p{
    margin: 0;
}


span {
    display: block;
} */


/* Traversing Part 3  */
/* 
div, p , aside {
    padding: 10px;
    background-color: #ddd;
    margin: 10px;
} */

/* Traversing Part 4  */

/* div{
    padding: 10px;
    margin: 10px 0;
    background-color: #ddd;
    width: 400px;
} */

/* **************
/* below only to show example how you can target first last and specific element through css so not related to jQuery */
/* section div:first-child { color:red;}
section div:last-child { color:red;}
section div:nth-child(3) {
    color: red;
} */



/* Selectors references  part 1*/
/* all tags and elements inside body tag*/
/* body * {
    padding: 10px;
    margin: 0 0 5px;
    background-color: #ddd;
    border: 1px solid #ccc;
} */


/* div {
    padding: 10px;
} */




/* Selectors references  part 2*/

/* p, span, div, section, aside{
    padding: 10px;
} */



/* Selectors references  part 3*/
/* 
p {
    padding: 10px;
} */


/* Selectors references  part 4*/

/* div {
    background-color: #ddd;
    width: 200px;
}

p {
    background-color: #ddd;
    width: 200px;
} */

/* 
div {
    width: 200px;
    margin: 10px 0;
} */


/* div {
    width: 200px;
    height: 100px;
    background-color: #ddd;
    margin: 10px 0;
}

.hide {
    display: none;
} */




/* Selectors references  part 5*/


/* Selectors references  part 6*/



/* Event */
/* .color {
    color: #00f;
    font-weight: bold;
}

.custom-event {
    background-color: #eee;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
} */




/* prevent default lesson */

/* img {
    display: block;
    margin: 20px;
    display: none;
} */




/* New Lesson: KeyBoard Event Refernce=>:: keydown,keypress,keyup */

/* div {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 100px;
    margin: 10px;
}


input, textarea {
    display: block;
    margin: 20px 0;
    padding: 5px;
    width: 200px;
}

textarea {
    height: 100px;
} */






 /* Change() event Reference */

/* div {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 100px;
    margin: 10px;
}


input, textarea {
    display: block;
    margin: 20px 0;
    padding: 5px;
    width: 200px;
}

textarea {
    height: 100px;
} */


/* Blur and Focus section */

/* div {
    padding: 10px;
    width: 300px;
    display: inline-block;
}

input[type="text"] {
    width: 100%;
}

div span {
    display: none;
} */




/* One() event section */





 /* Select() event lesson */

/* textarea {
    width: 200px;
    height: 80px;
} */




/* Resize event lesson */
/* * {
    padding: 0;
    margin: 0;
}

section {
    background-color: #080;
    color: #fff;
    width: 100%;
    height: 100%;

}
 */


  /* Scroll() event lesson */

/* body {
    height: 2000px;
}



div {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f00;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    display: none;
} */



/* Page x and Page y lesson */

/* .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f00;
    border: 2px solid #00f;
    display: none;
} */





/* Submit event Lesson */



/* Delay Event lesson (effect reference) */

/* span {
    display: none;
} */



/* html/css referece - clone lesson */



/* Detach() HTML/CSS reference */


/* Has Class html/css reference */



/* offset html/css reference */
/* body {
    height: 4000px;
}

div {
    background: #f00;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 500px;
} */


/* Position html/css reference */

/* * {
    margin: 0;
    padding: 0;
}

div {
    background-color: #f00;
    color: #fff;
    height: 300px;
    position: relative;
    margin: 100px 0 0 50px;

}

p {
    position: absolute;
    left: 20px;
    top: 100px;
    background-color: #00f;
    height: 100px;
} */



/* prop() html/css reference attributes */



/* replace with html/css reference */
/* 
button {
    display: none;
} */




/* SCroll top/left Important example Lesson */


/* body {
    height: 4000px;

}


div {
    height: 600px;
    background-color: #080;
    color: #fff;
    margin-bottom: 20px;
}


.test-lesson {
    opacity: 0;    Opacity = 0 is same as visibility = hidden  the element will be on the work flow but it's hidden
} */