/* p {
    display: none;
} */


/* p,
span {
    display: none;
} */




/* div {
    opacity: 1;   /* here it means the element will be showing 100% clear

}

div {
    opacity: 0.550;
    /* here it means the element will be showing 55% clear

}

div {
    opacity: 0.33;
    /* here it means the element will be showing 33% clear

} */



.open {
    padding: 10px;
    background-color: #DDD;
    border: 1px solid #676767;
    width: 600px;
    margin: 20px auto 0;
}

.box {
    padding: 10px;
    background-color: #DDD;
    border: 1px solid #676767;
    width: 600px;
    margin: auto;

}

/* 

button {
    margin: 10px;
}


span {
}
 */